@font-face {
  font-family: 'Digital';
  src: url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2')
    format('woff2');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  user-select: none;
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: #CBE3F6;
  height: 100vh;
}

#app {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 15% 15% 70%;
  background-color: #67CBAB;
  height: 380px;
  width: 238px;
  border: 1px solid #000000;
}

.displays {
  background-color: #C3EB78;
  text-align: right;
  font-family: "Digital";
  white-space: nowrap;
  border: 1px solid #000000;
  height: 40px;
}

#formula {
  grid-row: 1 / 2;
  display: flex;
  font-size: 18px;
  padding: 9px 5px 0px 10px;
}

#display {
  grid-row: 2 / 3;
  font-size: 22px;
}

#buttons {
  grid-row: 3 / 4;
  display: grid;
  gap: 2px 5px;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}

button {
  font-family: monospace;
  font-size: 16px;
  height: 50px;
  border: 1px solid #000000;
  margin: 0px;
}

.big-butt {
  height: 105px;
}

.blues {
  background-color: #63AAE3;
}

.blues:hover {
  background-color: #85BDEA;
}

.blues:active {
  background-color: #3F97DE;
}

.oranges {
  background-color: #FFA770;
}

.oranges:hover {
  background-color: #FFC099;
}

.oranges:active {
  background-color: #FF8E47;
}

#zero {
  grid-column: 1 / 3;
  grid-row: 5 / 6;
}

#one {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

#two {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

#three {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
}

#four {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

#five {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

#six {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

#seven {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

#eight {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

#nine {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

#add {
  grid-column: 4 / 5;
  grid-row: 2 / 4;
}

#subtract {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

#multiply {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

#divide {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

#decimal {
  grid-column: 3 / 4;
  grid-row: 5 / 6;
}

#clear {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#equals {
  grid-column: 4 / 5;
  grid-row: 4 / 6;
}