@font-face {
  font-family: 'Digital';
  src: url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2')
    format('woff2');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  user-select: none;
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: #CBE3F6;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #000000; 
}

::-webkit-scrollbar-thumb:hover {
  background: #666666; 
}

#app {
  display: grid;
  gap: 10px;
  grid-template-rows: 74px auto;
  background-color: #67CBAB;
  height: 400px;
  width: 250px;
  padding: 10px;
  border: 1px solid #000000;
}

#displays {
  grid-row: 1 / 2;
  background-color: #C3EB78;
  height: 74px;
  width: 228px;
  border: 1px solid #000000;
}

.displays {
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
  font-family: "Digital";
  white-space: nowrap;
  padding: 8px 5px;
}

#formula {
  font-size: 18px;
  height: 38px;
  overflow-x: scroll;
}

#display {
  font-size: 22px;
  height: 36px;
}

#buttons {
  grid-row: 2 / 3;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(5, auto);
}

button {
  font-family: monospace;
  font-size: 16px;
  border: 1px solid #000000;
}

.blues {
  background-color: #63AAE3;
}

.blues:hover {
  background-color: #85BDEA;
}

.blues:active {
  background-color: #3F97DE;
}

.oranges {
  background-color: #FFA770;
}

.oranges:hover {
  background-color: #FFC099;
}

.oranges:active {
  background-color: #FF8E47;
}

#zero {
  grid-column: 1 / 3;
  grid-row: 5 / 6;
}

#one {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

#two {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

#three {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
}

#four {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

#five {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

#six {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

#seven {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

#eight {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

#nine {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

#add {
  grid-column: 4 / 5;
  grid-row: 2 / 4;
}

#subtract {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

#multiply {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

#divide {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

#decimal {
  grid-column: 3 / 4;
  grid-row: 5 / 6;
}

#clear {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#equals {
  grid-column: 4 / 5;
  grid-row: 4 / 6;
}
